.NavHeader {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 0 25px;
  background-color: #FFF;
}

.NavHeader * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.NavHeader img {
  height: 35%;
}

.NavHeader img.right {
  height: 18%;
}

.NavHeader .right {
  position: relative;
  float: right;
  padding: 0 5px;
  font-family: Arial;
  font-size: .5em;
}

.NavHeader .login:hover {
  cursor: pointer;
}