.App {
  margin: 50px auto;
  max-width: 1440px;
}

.acaslonpro {
  font-family: '../assets/fonts/ACaslonPro-Regular.otf';
}

.springville {
  font-family: '../assets/fonts/Springville-Regular3.otf';
}