.MasonryGrid {
  width: 100%;
  margin: 0 auto 100px 0;
}
 
.content {
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  column-count: 3;
  column-gap: 40px;
  width: calc(100% - 100px);
  margin: 25px 50px;
}

.content:hover .MasonryItem {
  opacity: .5;
}

.content:hover .MasonryItem:hover {
  opacity: 1;
}

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 640px),
only screen and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (orientation: portrait),
only screen and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (orientation: portrait)
            and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    -moz-column-count: 2;
    -moz-column-gap: 25px;
    -webkit-column-count: 2;
    -webkit-column-gap: 25px;
    column-count: 2;
    column-gap: 50px;
    width: calc(100% - 100px);
    margin: 25px 50px;
  }

  .MasonryItem .title {
    display: block;
    font-size: 1.25em;
  }
}
