.MasonGrid {
  width: 100%;
  margin: 0 auto;
}
 
.content {
  -moz-column-count: 3;
  -moz-column-gap: 25px;
  -webkit-column-count: 3;
  -webkit-column-gap: 25px;
  column-count: 3;
  column-gap: 25px;
  width: 100%;
  padding: 50px;
}
 
.content img {
  display: inline-block;
  margin-bottom: 0px;
  width: 100%;
}